<configuration>
    <!-- Консольный аппендер (вывод в консоль) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройка уровней логирования для Hibernate -->
    <!-- Логгирование на уровне SQL -->
    <logger name="org.hibernate.SQL" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Логгирование параметров запросов -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="OFF" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Глобальный уровень логирования -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
